<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="RE9peuwqRQ6Rf/unzvvw3Ov3WiZik1uhs9KrJxLI1BnnqjbT/YN8P0Tn7xzMun4XwvK4HpcWfvyUII1u/u2q/sfoQhd7wuI73YxrC8a1+p7iNy8tVptuMovpxdbw2guDZ4sJEfC4o5Xl4Dz+5raA0wIMumIzdCth8Ac+lluXy6b26aQsSdSe4o6dIeosNT0S" providerName="System.Data.SqlClient"/>
    <add name="ConnstrSVMS" connectionString="RE9peuwqRQ6Rf/unzvvw3Ov3WiZik1uhs9KrJxLI1BnnqjbT/YN8P0Tn7xzMun4XwvK4HpcWfvyUII1u/u2q/sfoQhd7wuI73YxrC8a1+p7iNy8tVptuMovpxdbw2guDZ4sJEfC4o5Xl4Dz+5raA0wIMumIzdCth8Ac+lluXy6b26aQsSdSe4o6dIeosNT0S" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SVMSGUILink" value="https://localhost:4200/svmsgui/#"/>
    <add key="SendMailRuntimeInMin" value="5"/>
  </appSettings>
</configuration>
